ion-img{
  height: 50px;
  width: auto;
}
.toolbar-title{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.toolbar-title > ion-icon{
  margin-left: 5px;
}

.blur{
  height: 100%;
  width: 100%;
  background-image: url("../../assets/imgs/home-background.png");
  background-size: cover;
  filter: blur(10px);
  z-index: -1;
}

