
<ion-header>

  <ion-navbar color="mtech-red">
    <ion-title>Login   <ion-icon ios="ios-log-in" md="md-log-in"></ion-icon>
    </ion-title>
  </ion-navbar>

</ion-header>
<ion-content>
  <ion-card>
    <img alt='Mountainland Grill Logo' src="../../assets/imgs/grillLogo.png">
    <ion-list>
      <ion-item *ngIf="registering === true">
        <ion-label floating>First Name</ion-label>
        <ion-input [(ngModel)]='firstName'></ion-input>
      </ion-item>
      <ion-item *ngIf="registering === true">
        <ion-label floating>Last Name</ion-label>
        <ion-input [(ngModel)]='lastName'></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Email Address</ion-label>
        <ion-input type='email' [(ngModel)]="user.email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input type="password" [(ngModel)]="user.password"></ion-input>
      </ion-item>
      <ion-item *ngIf="registering === true">
        <ion-label floating>Confirm Password</ion-label>
        <ion-input type='password' [(ngModel)]='confirm'></ion-input>
      </ion-item>
    </ion-list>
    <ion-list *ngIf="loggedIn">
      <button ion-button color="mtech-red" (click)="logOut()">LOGOUT</button>
    </ion-list>
    <button ion-button *ngIf="!registering" color='light' (click)="login(false)">GOOGLE LOGIN</button>
    <button *ngIf="!registering" ion-button (click)="login(true)">LOGIN</button>
    <button *ngIf="!registering" ion-button color="light" (click)="changeShow(true)">SIGN UP</button>
    <button *ngIf="registering" ion-button (click)="register()">REGISTER</button>
    <button *ngIf="registering" ion-button color="light" (click)="changeShow(false)">LOGIN</button>
  </ion-card>
</ion-content>
<div class="blur"></div>
