
ion-content{

  background-color: white;
}
.menuButtonBox{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;

}
ion-card{
  margin: auto;
}
