// // // ion-content {
// // //     background-color: white;
// // // }

// // .card {
// //     margin: auto;
// //     max-width: 400px;

// // }

// ion-card-content {
//     display: flex;
//     flex-direction: row;
//     justify-content: center;
//     align-items: center;
// }

.hover-delete {
    visibility: hidden;
}

.menu-item:hover .hover-delete {
    visibility: visible;
}

#order-submit-ion-icon {
    margin-left: auto;
}

// .home{
//     right: 20px;
    
//     // margin-right: 900px;
// }



.send-button {
    float: right
}


.total{
    float: right;
}

.blur{
  height: 100%;
  width: 100%;
  background-image: url("../../assets/imgs/home-background.png");
  background-size: cover;
  filter: blur(10px);
  z-index: -1;
}