<ion-header>

    <ion-navbar color="mtech-red">
        <ion-title>Confirm Order

           
            <ion-icon id="order-submit-ion-icon" (click)="home()" class="ion-icon" ios="ios-home" md="md-home" text-center></ion-icon>
        
        </ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-card class="card">
        <ion-card-header>
            <div>
                Order:
            </div>
        </ion-card-header>

        <ion-list>

            <ion-item class="menu-item" *ngFor="let item of orderInformation; let i = index; ">

                <ion-icon ios="ios-remove-circle" md="md-remove-circle" id="{{item?.id}}" (click)="delete(i)">

                </ion-icon>
                {{item.itemName}}
                <div>{{item.price | currency}}</div>
                <p>{{item.options}}</p>

            </ion-item>
        </ion-list>

        <div class="total"> <b>Order Total:
        <p *ngFor="let price of orderPrice"></p></b> 
        <p><b>{{total | currency}}</b></p>
    </div>

    </ion-card>

    <div class="sendButtonContainer">
        <button class="send-button" ion-button color="mtech-red" (click)="submitOrder()">
            send
        </button>
    </div>
</ion-content>
<div class="blur"></div>