ion-content {
    background-color: white;
}

ion-card {
    margin: auto;
    max-width: 400px;

}

ion-card-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.hover-delete {
    visibility: hidden;
}

.menu-item:hover .hover-delete {
    visibility: visible;
}

ion-content {
    background-color: white;
}

ion-card {
    margin: auto;
    max-width: 400px;

}

ion-card-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.hover-delete {
    visibility: hidden;
}

.menu-item:hover .hover-delete {
    visibility: visible;
}

.home-button {
    color: white;
    float: right;
    // margin-right: 900px;
}

.sendButtonContainer{
    background-color: blue;
}
.send-button {
    margin: auto;
}
.sendButtonContainer{
    background-color: blue;
}

