page-menu {
  h2{
    margin: auto;
    background-color: #fff;
    width: 50%;
  }
  ion-content {
    .title {
      text-align: center;
    }
    .ionCard {
      width: 50%;
      -webkit-box-shadow: none;
      box-shadow: none;
      border-radius: 0%;
      margin: auto auto 10px auto;
      ion-card-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
    .menuTitleBox {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      ion-card-title {
        margin-right: 5px;
      }
    }
    .ionCardTitle {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      ion-toggle {
        margin-left: 10px;
      }
    }

    .breakfast {
      width: 100%;
    }
    .itemImage {
      width: 30%;
      margin: auto;
    }
  }
}
.submit-button {
  float: right;
}
.sidesOrder {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  button {
    height: 15px;
  }
  ion-label {
    font-size: 17px;
  }
}
@media only screen and (max-width: 726px) {
  page-menu{
    h2{
      margin: auto;
      background-color: #fff;
      width: calc(100% - 20px);
    }
    ion-content{
      .title{
        text-align: left;
      }
      .ionCard{
        width: calc(100% - 20px);
        margin: auto;
        -webkit-box-shadow: none;
        box-shadow: none;
        border-radius: 0%;
        .itemImage{
          width: 50%;
          margin: auto;
          .itemImage {
            width: 50%;
            margin: auto;
          }
        }
      }
    }
  }
  .blur {
    height: 100%;
    width: 100%;
    background-image: url("../../assets/imgs/home-background.png");
    background-size: cover;
    filter: blur(5px);
    z-index: -1;
  }
}
